.filter__button {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
border: 1px solid #ffffff;
border-radius: 60px;
padding: 6px 20px;
margin-right: 10px;
color: #FFFFFF;
cursor: pointer;
position: relative;
display: flex;
align-items: center;
gap: 8px;
}

.filter__button:hover {
border: 1px solid #D9B6FF;
color: #D9B6FF;
}

.filter__button:active {
border: 1px solid #AD61FF;
color: #AD61FF;
}

.filter__wrapper {
padding: 34px;
background-color: #313131; 
border-radius: 12px;
position: absolute;
top: 49px;
left: 0px;
z-index: 100;
box-shadow: 0 10px 25px rgba(0,0,0,0.5);
max-width: 248px;
}

.filter__list {
list-style: none;
padding: 0;
margin: 0;
color: white;
display: flex;
flex-direction: column;
gap: 12px;
height: max-content;
max-height: 300px;
overflow-y: auto;

&::-webkit-scrollbar {
width: 6px;
}
&::-webkit-scrollbar-track {
background-color: rgba(75, 73, 73, 1);
}
&::-webkit-scrollbar-thumb {
background-color: #555;
border-radius: 3px;
}
}

/* Базовый стиль пункта */
.filter__item {
padding: 8px 16px;
cursor: pointer;
border-radius: 8px;
transition: color 0.2s ease;
color: #E0E0E0; 
background-color: transparent; 
text-align: left;
white-space: nowrap;
}


.filter__item:hover {
background-color: rgba(255, 255, 255, 0.15); 
color: #FFFFFF;
}

.filter__item.selected {
color: #B672FF; 
font-weight: 400; 
}

.filter__item.selected:hover {
background-color: rgba(182, 114, 255, 0.2); 
color: #FFFFFF; 
}

.active {
color: #B672FF;
border-color: #B672FF;
}