.content__playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto; 
  max-height: calc(100vh - 300px); 
  padding-right: 8px;
} 

.content__playlist::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari, Edge */
}

.content__playlist {
  -ms-overflow-style: none;  /* Для IE и Edge */
  scrollbar-width: none;    /* Для Firefox */
}